*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    width: 280px;
    background-color:rgb(210, 89, 29)
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: black;
}

.container{
    padding-top: 200px;
    height: 700px;
    border-radius: 200px;
}

.boss-container{
    display: flex;
}

.card{
    background-color: #ddd;

}